
* {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    font-family: "Poppins", sans-serif;
  }
  
  h2 {
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 3%;
    color: #ffffff; 
  }


html, body{
  background-color:#050505;
}

  /* body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    color: #224;
    background:
      url(bg.jpg)
      center / cover no-repeat fixed;
  } */
  
  #swatchContainer {
    position: relative;
    /*overflow: visible;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: #0C4093;
    background-image: radial-gradient(#000000 0.1px, #D7CCCA 0px);
    background-size: 15px 15px;
    background-attachment: fixed;
    background-position: center;*/
    height:361px;
    /* width: 60px; */
    margin-left: 423px;
    margin-top: -649px;
    /*max-width: calc(100% - 10px);
    max-height: calc(100% - 10px);*/
  }
  
  #swatchContainer::after {
    position: absolute;
    width: 99%;
    height: 40px;
    top: 0;
    background: #D7CCCA;
    z-index: -1;
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
  }
  
  #swatchContainer,
  #swatchContainer::after,
  #swatchContainer * {
    border-radius: 35px;
  }
  
  .resizeSwatch, .resizeSwatch1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    resize: both;
   /* overflow: auto;*/
    width: 120px;
    height: 27px;
    min-width: 20px;
    min-height: 10px;
    max-height: 99%;
    /*background: #0C4093;*/
    background-size: 120%;
    background-position: center;
    margin: 4.5px;
    /*box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,*/
    /*  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;*/
   /* border-top: 1px solid black;*/
   /* border-bottom: 1px solid black;*/
    transition: all 0.15s ease;
    background-color: #0C4093;
    width: 60px;
    height: 400px;
  }

  /*
  .resizeSwatch, .resizeSwatch1:hover {
    cursor: pointer;
    transform: translateY(-5px);
    transition: all 0.15s ease;
  }*/

  .resizeSwatch:active {
    transform: scale(0.97) translateY(0px);
  }
  
  .resizeSwatch figcaption:hover {
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.15s ease;
  }
  
  .resizeSwatch figcaption i {
    font-size: 16pt;
    position: relative;
    font-style: normal;
    user-select: none;
    z-index: 1;
  }
  
  /*text-shadow: 0px 0px 8px #e40081;*/
  
  #radioContainer {
    position: relative;
    width: auto;
    height: auto;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0C4093;
    background-image: radial-gradient(#000000 0.1px, #D7CCCA 0px);
    background-size: 15px 15px;
    background-attachment: fixed;
    background-position: center;
    /*max-width: calc(100% - 10px);
    max-height: calc(100% - 10px);*/
    margin-left: 373px;
    margin-top: -467px;
    height: 0px;
  }
  
  .RadioSwatch {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    resize: both;
    width: 3px;
    border-radius: 35px;
    height: -30px;
    min-width: 14px;
    min-height: 12px;
    max-height: 99%;
    background: #6D1B33;
    background-size: 120%;
    background-position: center;
    margin: 11px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    transition: all 0.15s ease;
  }
  
  button {
    background-color: #0C4093;
    width: 75px;
    height: 400px;
  }

  .w3-bar-item {
    background-color: rgb(30, 30, 30);
    font-size: 1rem;
    color: #D8D7D4;
    margin: 9px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: color 200ms ease-out, box-shadow 150ms ease-out, transform 200ms ease-out;
    box-shadow: -1px 1px currentcolor, -2px 2px currentcolor, -3px 3px currentcolor, -4px 4px currentcolor;
    display: inline-block;
    padding: 0.5em 1em;
    border: 2px solid currentcolor;
    width: 80px;
    height: 20px;
    margin-top: 10px;
  
  }

  .w3-bar-item:hover, .cta-btn:focus {
    color: #FCF2F0;
    box-shadow: -1px 1px currentcolor, -2px 2px currentcolor, -3px 3px currentcolor, -4px 4px currentcolor, -5px 5px currentcolor, -6px 6px currentcolor;
    transform: translatey(-2px);
  }
  .w3-bar-item:active {
    box-shadow: -1px 1px 0 0 currentcolor;
    transform: translatey(0px);
  }

  .red{
    /* background-color: red; */
    background-color: var(--glow-color);
  box-shadow: 0 0 0.2em 0.05em var(--glow-color);
  transition: opacity 100ms linear;
  }

  :root {
    --glow-color: rgb(249, 22, 22);
  }

  .machine{ 
    height: 770px;
    width: 650px;
    margin-left: -15px;
    margin-top: 13px;
  }

   /* Responsive layout - machine*/
@media (max-width: 800px) {
  .table { 
  margin-left: 0%;
  height: 70%;
  margin-top: 20px;
    }
  }

  .box{
    margin-left:905px;
    margin-top:-573px;
  }

  /* .square {
    position: relative;
    height: 110px;
    width: 90px;
    margin-right: 30px;
    margin-top: 30px;
    background-color: #DED2DA;
    border-radius: 5px;
  } */

  .square {
    position: relative;
    height: 110px;
    width: 90px;
    margin-left: 148px;
    margin-top: 424px;
    background-color: #DED2DA;
    border-radius: 5px;
  }

  .inside { 
    position: relative;
  font-size:-21px;
  margin-left: 5px;
  max-width: 5px; }

  /*cards*/

  :root {
    font-size: 20px;
    box-sizing: inherit;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  p {
    margin: 0;
  }
  
  p:not(:last-child) {
    margin-bottom: 1.5em;
  }

  .card {
    font: 14px Inter, sans-serif;
    max-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    /*height: 300px;*/
    width: 252px;
    margin-left: 80px;
    margin-top: 80px;
    padding: 35px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  
    backdrop-filter: blur(15px);
  }
  
  .card-footer {
    font-size: 0.65em;
    color: #446;
  }


 /*page 2*/ 

 .table{
  margin-left: 35%;
  height: 100%;
  margin-top: -261px;
 }

 /* Responsive layout - table*/
@media (max-width: 800px) {
  .table { 
  margin-left: 0%;
  height: 70%;
  margin-top: 20px;
    }
  }

 /*page 1*/ 

 .people{
  position: relative;
  margin-left: 35%;
  height: 60%;
  margin-top: -170px;
 }


 #Tokyo{
  background:
    url(bg.jpg)
    center / cover no-repeat fixed; 
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    color: #224;
    }

  #London{
  background: #D8D7D4; 
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    color: #224;
    }

#Paris{
  background:#FC4131; 
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    color: #224;
    }


/* Circle animation */

@keyframes circles{
  100%{
    transform:scale3d(1,1,1);
  }
  
  75%{
    transform:scale3d(2.05,2.05,2.05);    
  }
  
  50%{
    transform:scale3d(0,0,0);
  }
  
  25%{
    transform:scale3d(1.05,1.05,1.05);    
  }
  
  0%{
    transform:scale3d(1,1,1);
  }
}

*{
  float:left;
  padding:0;
  margin:0;
  height:auto;
}


/* process */
.flex-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 60%;
  min-height: 500px;
  margin-top: -409px;
  margin-left: -643px;
}

.input-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 20vw;
  max-width: 1000px;
  position: relative;
  z-index: 0;
  margin-left: calc((80vw - 25px) / 20);
}

input {
  width: 25px;
  height: 25px;
  background-color: #2C3E50;
  position: relative;
  border-radius: 50%;
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
input:focus {
  outline: none;
}
input::before, input::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2C3E50;
  width: 10vw;
  height: 5px;
  max-width: 50px;
}
/* input::before {
  left: calc(-4vw + 12.5px);
} */
/* input::after {
  right: calc(-4vw + 12.5px);
} */
input:checked {
  background-color: #2C3E50;
}
input:checked::before {
  background-color: #2C3E50;
}
input:checked::after {
  background-color: #AEB6BF;
}
input:checked ~ input, input:checked ~ input::before, input:checked ~ input::after {
  background-color: #AEB6BF;
}
input:checked + .dot-info span {
  font-size: 13px;
  font-weight: bold;
}

.dot-info {
  width: 25px;
  height: 25px;
  display: block;
  visibility: hidden;
  position: relative;
  z-index: -1;
  left: calc((((80vw - 25px) / 20) * -1) - 1px);
}
.dot-info span {
  visibility: visible;
  position: absolute;
  font-size: 12px;
  margin-top: 15px;
  margin-left: 30px;
}
/* .dot-info span.year {
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
} */
.dot-info span.label {
  top: -65px;
  left: 0;
  transform: rotateZ(-45deg);
  width: 70px;
  text-indent: -10px;
}

/* #timeline-descriptions-wrapper {
  width: 50%;
  margin-top: 140px;
  font-size: 22px;
  font-weight: 400;
  margin-left: calc((-80vw - 25px) / 20);
}
#timeline-descriptions-wrapper p {
  margin-top: 0;
  display: none;
} */

input[data-description="1930"]:checked ~ #timeline-descriptions-wrapper p[data-description="1930"] {
  display: block;
}

input[data-description="1940"]:checked ~ #timeline-descriptions-wrapper p[data-description="1940"] {
  display: block;
}

input[data-description="1950"]:checked ~ #timeline-descriptions-wrapper p[data-description="1950"] {
  display: block;
}

input[data-description="1960"]:checked ~ #timeline-descriptions-wrapper p[data-description="1960"] {
  display: block;
}

@media (min-width: 1250px) {
  .input-flex-container {
    margin-left: 62.5px;
  }

  input::before {
    left: -37.5px;
  }
  input::after {
    right: -37.5px;
  }

  .dot-info {
    left: calc((((1000px - 25px) / 20) * -1) - 1px);
  }

  #timeline-descriptions-wrapper {
    margin-left: -37.5px;
  }
}
@media (max-width: 630px) {
  .flex-parent {
    justify-content: initial;
  }

  .input-flex-container {
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    height: auto;
    margin-top: 15vh;
    margin-left: 0;
    padding-bottom: 30px;
  }

  input, .dot-info {
    width: 100px;
    height: 0px;
    margin: 0 10px 50px;
  }

  input {
    background-color: transparent !important;
    z-index: 1;
  }
  input::before, input::after {
    content: none;
  }
  input:checked + .dot-info {
    background-color: #2C3E50;
  }
  input:checked + .dot-info span.year {
    font-size: 14px;
  }
  input:checked + .dot-info span.label {
    font-size: 12px;
  }

  .dot-info {
    visibility: visible;
    border-radius: 50%;
    z-index: 0;
    left: 0;
    margin-left: -70px;
    background-color: #AEB6BF;
  }
  .dot-info span.year {
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ECF0F1;
  }
  .dot-info span.label {
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    text-indent: 0;
    text-align: center;
  }

  #timeline-descriptions-wrapper {
    margin-top: 30px;
    margin-left: 0;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .input-flex-container {
    width: 340px;
  }
}
@media (max-width: 400px) {
  .input-flex-container {
    width: 300px;
  }
}