
* {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    font-family: "Poppins", sans-serif;
  }
  
  h2 {
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin: 0;
    color: #000000; 
  }
  /*body,
  html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }*/
  
  /* body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    color: #224;
    background:
      url(bg.jpg)
      center / cover no-repeat fixed;
  } */
  
  #swatchContainer {
    position: relative;
    /*overflow: visible;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: #0C4093;
    background-image: radial-gradient(#000000 0.1px, #D7CCCA 0px);
    background-size: 15px 15px;
    background-attachment: fixed;
    background-position: center;*/
    height:361px;
    /* width: 60px; */
    margin-right: -643px;
    margin-top: -180px;
    /*max-width: calc(100% - 10px);
    max-height: calc(100% - 10px);*/
  }
  
  #swatchContainer::after {
    position: absolute;
    width: 99%;
    height: 40px;
    top: 0;
    background: #D7CCCA;
    z-index: -1;
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
  }
  
  #swatchContainer,
  #swatchContainer::after,
  #swatchContainer * {
    border-radius: 35px;
  }
  
  .resizeSwatch, .resizeSwatch1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    resize: both;
   /* overflow: auto;*/
    width: 120px;
    height: 27px;
    min-width: 20px;
    min-height: 10px;
    max-height: 99%;
    /*background: #0C4093;*/
    background-size: 120%;
    background-position: center;
    margin: 4.5px;
    /*box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,*/
    /*  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;*/
   /* border-top: 1px solid black;*/
   /* border-bottom: 1px solid black;*/
    transition: all 0.15s ease;
    background-color: #0C4093;
    width: 60px;
    height: 400px;
  }

  /*
  .resizeSwatch, .resizeSwatch1:hover {
    cursor: pointer;
    transform: translateY(-5px);
    transition: all 0.15s ease;
  }*/

  .resizeSwatch:active {
    transform: scale(0.97) translateY(0px);
  }
  
  .resizeSwatch figcaption:hover {
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.15s ease;
  }
  
  .resizeSwatch figcaption i {
    font-size: 16pt;
    position: relative;
    font-style: normal;
    user-select: none;
    z-index: 1;
  }
  
  /*text-shadow: 0px 0px 8px #e40081;*/
  
  #radioContainer {
    position: relative;
    width: auto;
    height: auto;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0C4093;
    background-image: radial-gradient(#000000 0.1px, #D7CCCA 0px);
    background-size: 15px 15px;
    background-attachment: fixed;
    background-position: center;
    /*max-width: calc(100% - 10px);
    max-height: calc(100% - 10px);*/
    margin-left: 524px;
    margin-top: -476px;
    height: 0px;
  }
  
  .RadioSwatch {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    resize: both;
    width: 3px;
    border-radius: 35px;
    height: -30px;
    min-width: 14px;
    min-height: 12px;
    max-height: 99%;
    background: #6D1B33;
    background-size: 120%;
    background-position: center;
    margin: 11px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    transition: all 0.15s ease;
  }
  
  button {
    background-color: #0C4093;
    width: 60px;
    height: 400px;
  }

  .w3-bar-item {
    background-color: rgb(30, 30, 30);
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: color 200ms ease-out, box-shadow 150ms ease-out, transform 200ms ease-out;
    box-shadow: -1px 1px currentcolor, -2px 2px currentcolor, -3px 3px currentcolor, -4px 4px currentcolor;
    display: inline-block;
    padding: 0.5em 1em;
    border: 2px solid currentcolor;
    width: 80px;
    height: 20px;
  
  }

  .w3-bar-item:hover, .cta-btn:focus {
    color: #FCF2F0;
    box-shadow: -1px 1px currentcolor, -2px 2px currentcolor, -3px 3px currentcolor, -4px 4px currentcolor, -5px 5px currentcolor, -6px 6px currentcolor;
    transform: translatey(-2px);
  }
  .w3-bar-item:active {
    box-shadow: -1px 1px 0 0 currentcolor;
    transform: translatey(0px);
  }

  .red{
    /* background-color: red; */
    background-color: var(--glow-color);
  box-shadow: 0 0 0.2em 0.05em var(--glow-color);
  transition: opacity 100ms linear;
  }

  :root {
    --glow-color: rgb(249, 22, 22);
  }

  .machine{ 
    height: 770px;
    width: 650px;
    margin-left: 179px;
    margin-top: -206px;
  }

  .box{
    margin-left:890px;
    margin-top:-1211px;
  }

  .square {
    position: relative;
    height: 110px;
    width: 90px;
    margin-left: -212px;
    margin-top: 235px;
    background-color: #DED2DA;
    border-radius: 5px;
  }

  .inside { 
    position: relative;
  font-size:18px;
  margin-left: 5px;
  max-width: 5px; }

  /*nav bar

  .nav {
    display: flex;
    align-items: center;
    padding: 0.2em 0.5em;
  }
  @media (min-width: 60em) {
    .nav {
      padding: 1em 2em;
    }
  }
  .nav__item {
    color: #b72d12;
    text-decoration: none;
    padding: 0.5em;
    transition: box-shadow 200ms ease-out;
  }
  .nav__item:not(.nav__item--brand-logo) {
    box-shadow: 0px 0px currentcolor;
  }
  .nav__item:not(.nav__item--brand-logo):hover, .nav__item:not(.nav__item--brand-logo):focus, .nav__item:not(.nav__item--brand-logo):active {
    box-shadow: 0px 1px currentcolor, 0px 2px currentcolor, 0px 3px currentcolor, 0px 4px currentcolor;
  }
  @media (min-width: 40em) {
    .nav__item {
      padding: 0.5em 1em;
      margin-left: 1.5em;
    }
  }
  .nav__item--brand-logo {
    margin-left: 0;
    margin-right: auto;
    font-weight: 700;
    font-size: 1.4rem;
    color: #FCF2F0;
  }
  */


  /*cards*/

  :root {
    font-size: 20px;
    box-sizing: inherit;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  p {
    margin: 0;
  }
  
  p:not(:last-child) {
    margin-bottom: 1.5em;
  }

  .card {
    font: 14px Inter, sans-serif;
    max-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    /*height: 300px;*/
    width: 252px;
    margin-left: 100px;
    padding: 35px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  
    backdrop-filter: blur(15px);
  }
  
  .card-footer {
    font-size: 0.65em;
    color: #446;
  }


 /*page 2*/ 

 .table{
  margin-left: 35%;
  height: 100%;
  margin-top: -261px;
 }

 /*page 1*/ 

 .people{
  margin-left: 35%;
  height: 60%;
  margin-top: -261px;
 }


 #Tokyo{
  background:
    url(bg.jpg)
    center / cover no-repeat fixed; 
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    color: #224;
    }

  #London{
  background: #D8D7D4; 
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    color: #224;
    }

#Paris{
  background:#FC4131; 
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    color: #224;
    }