
* {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    font-family: "Poppins", sans-serif;
  }
  
  h2 {
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 3%;
    color: #ffffff; 
  }


html, body{
  background-color:#050505;
}

  /* body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    color: #224;
    background:
      url(bg.jpg)
      center / cover no-repeat fixed;
  } */
  
  #swatchContainer {
    position: relative;
    /*overflow: visible;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: #0C4093;
    background-image: radial-gradient(#000000 0.1px, #D7CCCA 0px);
    background-size: 15px 15px;
    background-attachment: fixed;
    background-position: center;*/
    height:361px;
    /* width: 60px; */
    margin-left: 591px;
    margin-top: -180px;
    /*max-width: calc(100% - 10px);
    max-height: calc(100% - 10px);*/
  }
  
  #swatchContainer::after {
    position: absolute;
    width: 99%;
    height: 40px;
    top: 0;
    background: #D7CCCA;
    z-index: -1;
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
  }
  
  #swatchContainer,
  #swatchContainer::after,
  #swatchContainer * {
    border-radius: 35px;
  }
  
  .resizeSwatch, .resizeSwatch1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    resize: both;
   /* overflow: auto;*/
    width: 120px;
    height: 27px;
    min-width: 20px;
    min-height: 10px;
    max-height: 99%;
    /*background: #0C4093;*/
    background-size: 120%;
    background-position: center;
    margin: 4.5px;
    /*box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,*/
    /*  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;*/
   /* border-top: 1px solid black;*/
   /* border-bottom: 1px solid black;*/
    transition: all 0.15s ease;
    background-color: #0C4093;
    width: 60px;
    height: 400px;
  }

  /*
  .resizeSwatch, .resizeSwatch1:hover {
    cursor: pointer;
    transform: translateY(-5px);
    transition: all 0.15s ease;
  }*/

  .resizeSwatch:active {
    transform: scale(0.97) translateY(0px);
  }
  
  .resizeSwatch figcaption:hover {
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.15s ease;
  }
  
  .resizeSwatch figcaption i {
    font-size: 16pt;
    position: relative;
    font-style: normal;
    user-select: none;
    z-index: 1;
  }
  
  /*text-shadow: 0px 0px 8px #e40081;*/
  
  #radioContainer {
    position: relative;
    width: auto;
    height: auto;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0C4093;
    background-image: radial-gradient(#000000 0.1px, #D7CCCA 0px);
    background-size: 15px 15px;
    background-attachment: fixed;
    background-position: center;
    /*max-width: calc(100% - 10px);
    max-height: calc(100% - 10px);*/
    margin-left: 465px;
    margin-top: -475px;
    height: 0px;
  }
  
  .RadioSwatch {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    resize: both;
    width: 3px;
    border-radius: 35px;
    height: -30px;
    min-width: 14px;
    min-height: 14px;
    max-height: 99%;
    background: #6D1B33;
    background-size: 120%;
    background-position: center;
    margin: 11px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    transition: all 0.15s ease;
  }
  
  button {
    background-color: #0C4093;
    width: 75px;
    height: 400px;
  }

  .w3-bar-item {
    background-color: rgb(30, 30, 30);
    font-size: 1rem;
    color: #D8D7D4;
    margin: 9px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: color 200ms ease-out, box-shadow 150ms ease-out, transform 200ms ease-out;
    box-shadow: -1px 1px currentcolor, -2px 2px currentcolor, -3px 3px currentcolor, -4px 4px currentcolor;
    display: inline-block;
    padding: 0.5em 1em;
    border: 2px solid currentcolor;
    width: 350px;
    height: 40px;
    margin-top: 10px;
  
  }

  .w3-bar-item:hover, .cta-btn:focus {
    color: #FCF2F0;
    box-shadow: -1px 1px currentcolor, -2px 2px currentcolor, -3px 3px currentcolor, -4px 4px currentcolor, -5px 5px currentcolor, -6px 6px currentcolor;
    transform: translatey(-2px);
  }
  .w3-bar-item:active {
    box-shadow: -1px 1px 0 0 currentcolor;
    transform: translatey(0px);
  }

  .red{
    /* background-color: red; */
    background-color: var(--glow-color);
  box-shadow: 0 0 0.2em 0.05em var(--glow-color);
  transition: opacity 100ms linear;
  }

  :root {
    --glow-color: rgb(249, 22, 22);
  }

.machine{ 
    height: 770px;
    width: 650px;
    margin-left: 148px;
    margin-top: -145px;
  }

/* Responsive layout - machine*/
@media (max-width: 800px) {
  .machine { 
  margin-left: 149px;
  margin-top: -144px;
    }
  }

/* Responsive layout - machine*/
  @media (max-width: 800px) {
      .radioContainer { 
      margin-left: 65px;
      margin-top: -475px;
        }
      }

.box{
    margin-left:827px;
    margin-top:-194px;
  }

 /* Responsive layout - machine*/
@media (max-width: 800px) {
  .box { 
  margin-left: 830px;
  margin-top: -195px;
    }
  }

.inside { 
    position: relative;
  font-size:-21px;
  margin-left: 5px;
  max-width: 5px; }

.square2 {
    position: relative;
    height: 110px;
    width: 90px;
    margin-top: -693px;
    margin-left: 1064px;
    background-color: #DED2DA;
    border-radius: 3px;
  }

/* Responsive layout - machine*/
@media (max-width: 800px) {
  .square2 { 
  position: relative;
  margin-left: 1066px;
  margin-top: -654px;
    }
  }


  /*cards*/

  :root {
    font-size: 20px;
    box-sizing: inherit;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  p {
    margin: 0;
  }
  
  p:not(:last-child) {
    margin-bottom: 1.5em;
  }

  .card {
    font: 14px Inter, sans-serif;
    max-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    /*height: 300px;*/
    width: 252px;
    margin-left: 80px;
    margin-top: 80px;
    padding: 35px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  
    backdrop-filter: blur(15px);
  }
  
  .card-footer {
    font-size: 0.65em;
    color: #446;
  }
  


  /* process */

  .progress_inner #step-1:checked + input + input + input + input + div + div + div + div > .box_string {
    top: -43px;
    left: 62px;
    opacity: 1;
  }

  .progress_inner #step-1:checked + input + input + input + input + div + div + div + div > .box_base, body .progress_inner #step-3:checked + input + input + div + div + div + div > .box_base, body .progress_inner #step-2:checked + input + input + input + div + div + div + div > .box_base {
    top: 50%;
    left: 0px;
    opacity: 1;
  }


  .progress_inner #step-1:checked + input + input + input + input + div + div + div + div > .box_item, body .progress_inner #step-5:checked + div + div + div + div > .box_item, body .progress_inner #step-4:checked + input + div + div + div + div > .box_item, body .progress_inner #step-3:checked + input + input + div + div + div + div > .box_item, body .progress_inner #step-2:checked + input + input + input + div + div + div + div > .box_item {
    top: -30px;
    left: 0px;
    opacity: 0;
  }

  .progress_inner #step-2:checked + input + input + input + div + div + div + div > .box_lid, body .progress_inner #step-5:checked + div + div + div + div > .box_lid, body .progress_inner #step-4:checked + input + div + div + div + div > .box_lid {
    top: -20px;
    left: 0px;
    opacity: 0;
  }
  
  .progress_inner #step-3:checked + input + input + div + div + div + div > .box_lid {
    top: -62px;
    left: 63px;
    opacity: 1;
  }

  /* .progress_inner #step-2:checked + input + input + input + div + div + div + div > .box_item, body .progress_inner #step-5:checked + div + div + div + div > .box_item, body .progress_inner #step-4:checked + input + div + div + div + div > .box_item {
    top: -10px;
    left: 0px;
    opacity: 1;
  }
  
  .progress_inner #step-3:checked + input + input + div + div + div + div > .box_item, body .progress_inner #step-5:checked + div + div + div + div > .box_item, body .progress_inner #step-4:checked + input + div + div + div + div > .box_item {
    top: -40px;
    left: -40px;
    opacity: 1;
  } */
  body .progress_inner #step-2:checked + input + input + input + div + div + div + div > .box_item {
    top: -38px;
    left: 56px;
    opacity: 1;
}


  .progress_inner #step-3:checked + input + input + div + div + div + div > .box_bow, body .progress_inner #step-5:checked + div + div + div + div > .box_bow, body .progress_inner #step-4:checked + input + div + div + div + div > .box_bow {
    top: 0px;
    left: 0px;
    opacity: 0;
  }
  
  .progress_inner #step-4:checked + input + div + div + div + div > .box_ribbon {
    top: 50%;
    left: 0px;
    opacity: 1;
  }

  .progress_inner #step-2:checked + input + input + div + div + div + div > .box_ribbon {
    top: 70%;
    left: 0px;
    opacity: 0;
  }

  .progress_inner #step-1:checked + input + div + div + div + div > .box_bow {
    top: -10px;
    left: 0px;
    opacity: 1;
  }
  
  .progress_inner #step-5:checked + div + div + div + div > .box_tag {
    top: 10px;
    left: 20px;
    opacity: 1;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .progress_inner__status .box_string, body .progress_inner__status .box_tag, body .progress_inner__status .box_bow__right, body .progress_inner__status .box_bow__left, body .progress_inner__status .box_bow, body .progress_inner__status .box_ribbon, body .progress_inner__status .box_item, body .progress_inner__status .box_base, body .progress_inner, body .progress_inner__step:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
  }
  
  .progress_inner__bar--set, body .progress_inner__bar {
    height: 6px;
    left: 10%;
    background: repeating-linear-gradient(45deg, #e4ecf0, #ebc5a2 4px, #ebc94c 4px, #d2a512 10px);
    transition: width 800ms cubic-bezier(0.915, 0.015, 0.3, 1.005);
    border-radius: 6px;
    width: 0;
    position: relative;
    z-index: -1;
  }
  
  .progress_inner__step:before {
    width: 30px;
    height: 30px;
    color: #70afd0;
    background: white;
    line-height: 30px;
    border: 3px solid #a6cde2;
    font-size: 12px;
    top: 3px;
    border-radius: 100%;
    transition: all 0.4s;
    cursor: pointer;
    pointer-events: none;
  }
  
  .progress_inner__step {
    width: 20%;
    font-size: 14px;
    padding: 0 10px;
    transition: all 0.4s;
    float: left;
    text-align: center;
    position: relative;
  }
  
  .progress_inner__step label {
    padding-top: 50px;
    top: 32px;
    display: block;
    position: relative;
    cursor: pointer;
  }
  
  .progress_inner__step:hover {
    color: white;
  }

  .progress_inner__step:hover:before {
    color: white;
    background: #FC4131;
  }
  
  body {
    color: #FC4131;
  }
  .progress_inner {
    height: 200px;
    width: 700px;
  }
  .progress_inner #step-5:checked + div {
    width: 80%;
  }
  .progress_inner #step-5:checked + div + div + div > .tab:nth-of-type(5) {
    opacity: 1;
    top: 0;
  }
  .progress_inner #step-5:checked + div + div + div + div {
    right: 10%;
  }
  .progress_inner #step-4:checked + input + div {
    width: 60%;
  }
  .progress_inner #step-4:checked + input + div + div + div > .tab:nth-of-type(4) {
    opacity: 1;
    top: 0;
  }
  .progress_inner #step-4:checked + input + div + div + div + div {
    right: 30%;
  }
  .progress_inner #step-3:checked + input + input + div {
    width: 40%;
  }
  .progress_inner #step-3:checked + input + input + div + div + div > .tab:nth-of-type(3) {
    opacity: 1;
    top: 0;
  }
  .progress_inner #step-3:checked + input + input + div + div + div + div {
    right: 50%;
  }
  .progress_inner #step-2:checked + input + input + input + div {
    width: 20%;
  }
  .progress_inner #step-2:checked + input + input + input + div + div + div > .tab:nth-of-type(2) {
    opacity: 1;
    top: 0;
  }
  .progress_inner #step-2:checked + input + input + input + div + div + div + div {
    right: 70%;
  }
  .progress_inner #step-1:checked + input + input + input + input + div {
    width: 0%;
  }
  .progress_inner #step-1:checked + input + input + input + input + div + div + div > .tab:nth-of-type(1) {
    opacity: 1;
    top: 0;
  }
  .progress_inner #step-1:checked + input + input + input + input + div + div + div + div {
    right: 90%;
  }
  .progress_inner__step:nth-of-type(1):before {
    content: "1";
  }
  .progress_inner__step:nth-of-type(2):before {
    content: "2";
  }
  .progress_inner__step:nth-of-type(3):before {
    content: "3";
  }
  .progress_inner__step:nth-of-type(4):before {
    content: "4";
  }
  .progress_inner__step:nth-of-type(5):before {
    content: "5";
  }
  .progress_inner__bar--set {
    width: 80%;
    top: -6px;
    position: relative;
    z-index: -2;
  }
  .progress_inner__tabs .tab {
    opacity: 0;
    position: absolute;
    top: 40px;
    text-align: center;
    margin-top: 157px;
    box-shadow: 0px 2px 1px #80b7d5;
    padding: 30px;
    background: white;
    border-radius: 10px;
    transition: all 0.2s;
  }
  .progress_inner__tabs .tab h1 {
    margin: 0;
  }
  .progress_inner__tabs .tab p {
    font-weight: 400;
    opacity: 0.8;
  }
  .progress_inner__status {
    width: 40px;
    height: 40px;
    top: -80px;
    transition: right 800ms cubic-bezier(0.915, 0.015, 0.3, 1.005);
    transform: translateX(50%);
    position: absolute;
  }
  .progress_inner__status div {
    opacity: 0;
    transition: all 600ms cubic-bezier(0.915, 0.015, 0.3, 1.005);
    transition-delay: 300ms;
  }
  .progress_inner__status div {
    position: absolute;
  }
  .progress_inner__status .box_base {
    /* background: repeating-linear-gradient(45deg, #986c5d, #986c5d 2px, #775144 2px, #775144 4px); */
    background: url(People.png)
    center / cover no-repeat fixed; 
    width: 116px;
    height: 163px;
    z-index: 1;
    border-radius: 1px;
  }
  .progress_inner__status .box_lid {
    background: url(slip.png)
    center / cover no-repeat fixed; 
    width: 62px;
    height: 39.333333333300004px;
    /* background: #775144; */
    z-index: 2;
    border-radius: 1px;
    top: 0;
  }
  .progress_inner__status .box_item {
    width: 59px;
    height: 43px;
    background: url(ink.png)
    center / cover no-repeat fixed; 
    z-index: 2;
    border-radius: 4px;
    transform: rotate(45deg);
  }

  .progress_inner__status .box_ribbon {
    width: 179px;
    height:155.333333px;
    background: url(table.png)
    center / cover no-repeat fixed;
    z-index: 4;
    border-radius: 1px;
  }
  /* .progress_inner__status .box_bow__right, body .progress_inner__status .box_bow__left {
    width: 6px;
    height: 10px;
    background: #be0c21;
    position: absolute;
    z-index: 3;
    opacity: 1;
    border-radius: 1px;
  } */
  .progress_inner__status .box_bow {
    width: 6px;
    height: 10px;
    top: -6px;
    z-index: 1;
    transition-delay: 500ms;
    background: url(proof.png)
    center / cover no-repeat fixed;
  }
  /* .progress_inner__status .box_bow__left {
    left: 6px;
    transform: rotate(45deg);
    
  }
  .progress_inner__status .box_bow__right {
    left: -4px;
    transform: rotate(-45deg);
  } */
  .progress_inner__status .box_tag {
    width: 130px;
    height: 150px;
    background: url(evm.png)
    center / cover no-repeat fixed;
    z-index: 4;
    transform: rotate(-10deg) translateX(-40px) translateY(0px);
    border-radius: 2px;
    transition-delay: 500ms;
  }
  .progress_inner__status .box_string {
    width: 65px;
    height: 50px;
    background: url(proof.png)
    center / cover no-repeat fixed;
    z-index: 2;
    /* transform: rotate(-39deg) translateX(-22px) translateY(-12px); */
  }
  .progress_inner input[type=radio] {
    display: none;
  }

  /* Tokyo */
  #Tokyo{
    background:
      url(bg.jpg)
      center / cover no-repeat fixed; 
      width: 100%; 
      height: 100vh; 
      overflow: hidden;
      margin: 0; 
      color: #224;
      }

  @media (max-width: 800px) {
  #Tokyo { 
    width: 1425px; 
    height: 180vh;
    }
  }

  #London{
      background: #D8D7D4; 
      width: 100%;
      height: 100vh;
      /* overflow: hidden; */
      margin: 0;
      color: #224;
      }

  @media (max-width: 800px) {
  #London { 
    width: 400px; 
    height: 200vh;
    }
  }

  @media (max-width: 800px) {
    .progress { 
      margin-top: 20px;
      margin-left: 20px;
      width: 50%; 
      }
    }

  

     
          